{% extends 'AppBundle::base.html.twig' %}

 {% block menu %} {% include 'GameBundle::menu.html.twig' %} {% endblock %}

   {% block title %} Portails list {% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for portail in portails %}
            <tr>
                <td><a href="{{ path('invocation_portail_show', { 'id': portail.id }) }}">{{ portail.name }}</a></td>
                <td>{{ portail.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('invocation_portail_show', { 'id': portail.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
