{% extends 'AppBundle::base.html.twig' %}

{% block menu %}{% include 'GameBundle::menu.html.twig' %}{% endblock %}
 
{% block title %}{{ personnage.name|upper }}{% endblock %}
 
{% block body %}

    <table align="center">
        <tbody>
            <tr>
                <th colspan="2">{{ personnage.name|upper }}</th>
            </tr>
			<tr>
                <th>Attaque</th>
                <td>{{ personnage.attaque }}</td>
            </tr>
			<tr>
                <th>Defense</th>
                <td>{{ personnage.defense }}</td>
            </tr>
        </tbody>
    </table>
	
{% endblock %}
